# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv/
venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / outputs
*.log
*.tmp
*.cache
*.egg-info/

# Builds / dist
build/
dist/
